/* Card styles */
.card {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #708090;
}

.question-count {
    font-weight: bolder;
    font-size: 15px;
    color: #FFF5EE;
    border-bottom: 1px solid #FFF5EE;
    padding-bottom: 3px;
}
/* Question style */
.question {
    font-weight: bold;
    font-size: 14px;
    margin-top: 0.8rem;
    line-height: 20px;
    letter-spacing: 1px;
}

.question-header {
    display: flex;
    justify-content: space-between;
}
