.main {

}

/* Centering the card */
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #A9A9A9;
}

/* Card styles */
.card {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #708090;
}

.question-count {
    font-weight: bolder;
    font-size: 15px;
}
/* Question style */
.question {
    font-weight: bold;
    font-size: 13px;
    margin-top: 0.8rem;
}

/* Answer options */
.answer {
    margin-top: 10px;
}

.answer-option {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
}

/* Hover effect */
.answer-option:hover {
    background-color: #e0e0e0;
}

.next-btn {
    display: flex;
    justify-content: center;
}
/* Next button style */
.next-button {
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.next-button:hover {
    background-color: #0056b3;
}